// ==================================================
// pepagis-hello
// ==================================================
.pepagis-hello {
  padding: 200px;
  font-family: $g-font-family-en;
  font-size: 50px;
  text-align: center;
  color: $g-color-white;
  background-color: pe-color(accent);
}
