// ==================================================
// pepagis-glyph
// ==================================================
.pepagis-glyph {
  margin: 20px 0;
  display: table;
}
.pepagis-glyph__item {
  display: table-row;
  @include pe-box-sizing(border-box);
  font-family: $g-font-family-code;
  font-size: 12px;
  background-color: $g-color-white;
}
.pepagis-glyph__cell {
  display: table-cell;
  padding: 12px;
  vertical-align: middle;
  border-bottom: 1px solid #d7dbdd;
  white-space: nowrap;
}
.pepagis-glyph__cell--demo1 {
  width: 24px;
  text-align: center;
  color: pe-color(accent, dark);
  background-color: $g-color-white;
  &::before {
    font-size: 24px;
    line-height: 24px;
  }
}
.pepagis-glyph__cell--demo2 {
  width: 24px;
  text-align: center;
  color: $g-color-white;
  background-color: pe-color(accent, dark);
  border-bottom: 1px solid #d7dbdd;
  &::before {
    font-size: 24px;
    line-height: 24px;
  }
}
.pepagis-glyph__cell--code {
  border-left: 1px dotted #d7dbdd;
}
.pepagis-glyph__cell--class {
  border-left: 1px dotted #d7dbdd;
  border-bottom: 1px solid #d7dbdd;
}
