// ==================================================
// pepagis-hello
// ==================================================
.pepagis-hello {
  padding: 300px 50%;
  font-family: $g-font-family-en;
  text-align: center;
  color: $g-color-white;
  background-image: url("../images/pepagis_alpha@2x.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  text-indent: -200%;
  & + p {
    text-align: center;
  }
}
