// ==================================================
// pepagis-module-list
// ==================================================
.pepagis-module-list {
  list-style-type: disc;
  margin-bottom: 16px;
  margin-left: 1em;
  padding: 0 40px;
}
.pepagis-module-list__item {
  margin-bottom: 0.3em;
  list-style-type: inherit;
}
