// ==================================================
// pepagis-ex
// ==================================================

.ex-ag-btn {
  -webkit-appearance: none;
  display: inline-block;
  border: none;
  background-color: #3DB680;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  line-height: 40px;
  min-width: 200px;
  font-size: 20px;
  box-sizing: border-box; }
.ex-ag-btn--primary {
  color: black;
  background-color: #FFEA3A; }
