// ==================================================
// pepagis-header
// ==================================================
.pepagis-header {
  position: relative;
  color: #fff;
  text-align: center;
  border-bottom: 1px solid rgba(#bdc3c7, 0.5);
  background-color: pe-color(accent, dark);
  a {
    display: block;
    position: relative;
    z-index: 1;
    padding: 1em 10px;
    color: inherit;
    font-weight: 500;
    font-size: 1.29em;
    letter-spacing: 1px;
    line-height: 1;
  }
}
