// ==================================================
// pepagis-dummy
// ==================================================
.pepagis-dummy-box {
  background-color: #eee;
  padding: 30px;
  text-align: center;
  min-height: 200px;
}
.pepagis-dummy-box--dark {
  background-color: #ddd;
}
